.navbar-nav {
    .nav-item + .nav-item {
        margin-top: 20px;
    }
    
    .nav-item {
        cursor: pointer;
    }

    .nav-item:hover {
        background-color: yellowgreen;
    }

    .nav-item-active {
        background-color: orange;
        
        .nav-item-text-active {
            color: blue;
        }
    }
}